<%- include("include/header")%>
<style>
    .centerB {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  right: 20%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
</style>

            <!-- Body Container -->
            <div id="page-content"> 
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>About Us</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>About Us </span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <!-- Destination section -->
                <div class="destination-section section pt-0">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-images" style="margin-bottom: 20px;">
                                    <img class="rounded-0 w-100 blur-up lazyload" data-src="assets/images/about/aboutteam.jpg" src="assets/images/about/aboutteam.jpg" alt="about" width="700" height="600" />
                                </div>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-details faqs-style faqs-style2 px-50">
                                    <h2 class="fs-3 mb-3" style="text-align: center;">About ConsumerLaw Blueprint</h2>
                                    <p>Hi, I'm Amee Shah and I founded this company with a passion for helping individuals and families take control of their financial future. With years of experience in the consulting industry, I understand the challenges you face when it comes to consumer law.</p>
                                    <p>My journey began when I saw the impact that a low credit score can have on people's lives. It can affect your ability to secure loans, buy a home, or even get a job. That's why I dedicated myself to mastering the art of consumer Law and financial management.</p>
                                    <p>At Consumerlaw Blueprint , we are committed to providing you with personalized solutions to improve your credit score and financial well-being. We understand that each client's situation is unique, and we tailor our services to your specific needs.</p>
                                    <p>Our team of experts, shares the same passion for helping you achieve your financial goals. We have a proven track record of success in challenging credit repair cases and have helped countless clients regain control of their finances.</p>
                                    <!-- <div class="accordion" id="accordionFaq">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Customer Service</button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq">
                                                <div class="accordion-body">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Online Consultation</button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq">
                                                <div class="accordion-body">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Sales Management</button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
                                                <div class="accordion-body">
                                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words discovered source.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-12 col-md-6 about-details faqs-style faqs-style2 px-50" style="margin-top: 10px;">
                                <p>I want to assure you that we operate with transparency, integrity, and a commitment to compliance with all applicable laws and regulations. You can trust us to work tirelessly on your behalf and to keep you informed every step of the way. <br>
                                    Thank you for considering Consumerlaw Blueprint as your partner in our financial literacy company . We look forward to the opportunity to serve you and assist you in achieving your financial dreams.
                                    Feel free to contact us to schedule a consultation, and let's take the first step toward a brighter financial future together.</p>
                            </div>
                            <div  class="col-12 col-sm-12 col-md-6">
                                <a    href="shop-right-sidebar.html" class="btn btn-lg mt-md-2 centerB" >Explore Now</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End Destination section -->

                

                <!--Meet Our Leaders section-->
                <div class="team-section section">
                    <div class="container">
                        <div class="section-header">
                            <p class="mb-2 mt-0">Always ready to assist</p>
                            <h2>How we can help</h2>
                        </div>

                        <div class="team-items row col-row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2 text-center">
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Debt Management</h3>
                                    <p style="text-align: left;" >Offer debt consolidation and repayment plans to help clients manage and reduce their outstanding debts more 
                                        effectively.</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Identity Theft Protection</h3>
                                    <p style="text-align: left;" >Provide tools and services to help clients protect themselves from identity theft and assist in resolving identity theft issues.</p>
                                </div>
                                
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Credit Education</h3>
                                    <p style="text-align: left;" >Offer workshops or resources to educate clients on credit scores, credit rights, and responsible financial management..</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Credit Report Analysis</h3>
                                    <p style="text-align: left;" >Offer a comprehensive review of clients' credit reports to identify inaccuracies, errors, and negative items that can be disputed or corrected. </p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Dispute Resolution</h3>
                                    <p style="text-align: left;" >Assist clients in disputing inaccurate information with credit bureaus and creditors, helping to remove or rectify negative items on their credit reports.</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Financial Counseling</h3>
                                    <p style="text-align: left;" >Offer one-on-one financial counseling sessions to help clients create budgets, set financial goals, and make informed financial decisions.</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <!-- <img class="rounded-0 blur-up lazyload w-100" data-src="assets/images/about/about-team1.jpg" src="assets/images/about/about-team1.jpg" alt="team" width="350" height="350" /> -->
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-4">
                                    <h3 class="mb-2">Credit Building Strategies</h3>
                                    <p style="text-align: left;">Provide guidance on how clients can establish and build positive credit history through responsible financial behavior.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Meet Our Leaders section-->

                

                <!--Video Content-->
                <section class="video-popup-section section pb-0">
                    <div class="container">
                        <div class="section-header d-none">
                            <h2>Hema fashion store</h2>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="video-popup-content position-relative">
                                    <a href="#aboutVideo-modal" class="popup-video d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#aboutVideo_modal" title="View Video">
                                        <img class="w-100 d-block blur-up lazyload" data-src="assets/images/about/video-popup-bg.jpg" src="assets/images/about/video-popup-bg.jpg" alt="image" title="" width="1100" height="600" />
                                        <i class="icon anm anm-play-cir"></i>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <!--End Video Content-->
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->

            <!--Footer-->
            <div class="footer">
                <div class="newsletterbg clearfix">
                    <div class="container">
                        <form action="#" method="post" class="footer-newsletter">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3 mb-md-0">
                                    <label class="h3 mb-1 clr-none">Sign Up Our Newsletter & Get 10% OFF</label>
                                    <p>Sign up to stay in the loop. Receive updates, access to exclusive deals, and more.</p>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control input-group-field newsletter-input" name="email" value="" placeholder="Enter your email address..." required />
                                        <button type="submit" class="input-group-btn btn btn-secondary newsletter-submit" name="commit">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <%- include("include/footer")%>