<%- include('include/header',{sesCookies:cookies}); %>
    <!-- Required meta tags -->
    
    <link rel="stylesheet" href="assets/carosel/fonts/icomoon/style.css">

    <link rel="stylesheet" href="assets/carosel/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/carosel/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="assets/carosel/css/style.css">

    <title>Carousel #4</title>
  
  

  <div class="content" style="background-image: url('assets/carosel/images/new bg.png')">
    
    <div class="container" >

      <!-- <h2 class="my-5 text-center">Carousel #4</h2> -->

      <div class="owl-carousel slide-one-item" >

        <div class="d-md-flex testimony-29101 align-items-stretch">
          
          <div class="image" style="background-image: url('assets/carosel/images/person_1.jpg');"></div>
          <div class="text">
            
            <blockquote style="background-color: #12181e;">
              <p>&ldquo;Thanks to Consumers law blueprint my score has skyrocketed. They provided expert guidance and a tailored plan that helped me achieve my financial goal&rdquo;</p>

              <div class="author" style="color: rgb(168, 165, 161);">&mdash; _Michelle Stewart</div>
            </blockquote>
          </div>
        </div>  <!-- .item -->
        <div class="d-md-flex testimony-29101 align-items-stretch" >
          <div class="image" style="background-image: url('assets/carosel/images/person_2.jpg');"></div>
          <div class="text" >
            <blockquote style="background-color: #12181e;">
              <p>&ldquo;Resources and tolls offered by Amee are invaluable. I've learned how to budget, invest and plan for retirement, all thanks to thier comprehensive financial literacy programs&rdquo;</p>

              <div class="author" style="color: rgb(168, 165, 161);">&mdash; Megan</div>
            </blockquote>
          </div>
        </div>  <!-- .item -->

        <div class="d-md-flex testimony-29101 align-items-stretch">
          <div class="image" style="background-image: url('assets/carosel/images/Felder.jpg');"></div>
          <div class="text">
            <blockquote style="background-color: #12181e;">
              <p>&ldquo;Thighly recommend Consumer law Blueprint, thank you Lillian, for anyone looking to boost thier credit. They are trustworthy, transparent, and genuinely care about thier clients' success.!&rdquo;</p>

              <div class="author" style="color: rgb(168, 165, 161);">&mdash; Mr. Felder</div>
            </blockquote>
          </div>
        </div>  <!-- .item -->
          

      </div>


    </div>
  </div>
  <section class="section newsletter-section pb-0" style="margin-top: -60px;">
    <div class="container-fluid p-0">
        <div class="newsletter-wrap bg-size">
            <img class="bg-img blur-up lazyload" data-src="assets/images/newsletter/bg.png" src="assets/images/newsletter/bg.png" alt="newsletter" width="1320" height="266" />
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                <div class="section-header mb-3 mb-md-4">
                                    <h2 class="text-white mb-2 mb-md-3">Get intouch with us</h2>
                                    <!-- <p style="font-size: 18px;" class="text-white m-0">Financial well-being is a vital aspect of our lives, and we understand the challenges and complexities that individuals face in today's ever-changing landscape. That is why our team of experts is committed to providing you with the knowledge, tools, and support you need to make informed decisions and achieve 
                                        your financial goals.</p> -->
                                </div>                            
                                <form class="newsletter-form" action="#" method="post">
                                    <div class="d-flex flex-column flex-sm-row">
                                        <input type="email" class="form-control newsletter-input mb-2 mb-sm-0 me-sm-2 border-0" name="email" value="" placeholder="Your email address.." required />
                                        <button type="submit" class="btn btn-primary newsletter-submit mt-1 mt-sm-0 ms-sm-1" name="commit">Subscribes</button>
                                    </div>
                                </form>    
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<!--Newsletter Section-->
  <%- include('include/footer'); %>
    

    <script src="assets/carosel/js/jquery-3.3.1.min.js"></script>
    <script src="assets/carosel/js/popper.min.js"></script>
    <script src="assets/carosel/js/bootstrap.min.js"></script>
    <script src="assets/carosel/js/owl.carousel.min.js"></script>
    <script src="assets/carosel/js/main.js"></script>
    
  </body>
  
</html>